[project]
name = "stallesoramodloader"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "psutil>=7.1.3",
    "rich>=13.5.2",
]
