name: StellaSoraModLoader Build

on:
  push:
    tags:
      - 'v*' # Trigger when push tag startwith v (etc. v0.1.0)
  workflow_dispatch: # Manual

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          architecture: 'x64'

      - name: Export requirements from uv
        run: uv export --format requirements-txt --no-hashes > requirements.txt

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Build Executable with Nuitka
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: main.py
          mode: onefile
          enable-plugins: tk-inter
          include-package: |
            rich
            psutil
            pystray
            PIL
          include-data-files: |
            icon.ico=icon.ico
          windows-icon-from-ico: icon.ico
          output-dir: build

      - name: Prepare Release Structure
        run: |
          mkdir release_package
          mkdir release_package/StellaSoraModLoader
          Move-Item build/main.exe release_package/StellaSoraModLoader/StellaSoraModLoader.exe
        shell: powershell

      - name: Upload Build Artifact (Manual/Test Only)
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v4
        with:
          name: StellaSoraModLoader-Windows-Build-Test
          path: release_package/StellaSoraModLoader
          include-hidden-files: true

      - name: Create Zip Archive
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          $tag_name = "${{ github.ref_name }}"
          Compress-Archive -Path release_package/StellaSoraModLoader -DestinationPath release_package/StellaSoraModLoader-$tag_name.zip
        shell: powershell

      - name: Upload Release Asset (Tag Only)
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: release_package/StellaSoraModLoader-${{ github.ref_name }}.zip
